<form class="example-form">
  <mat-form-field class="example-full-width">
          <input matInput readonly [(ngModel)]="topic.title" name="title" placeholder="Title">
  </mat-form-field>                
  <mat-form-field class="example-full-width">
          <textarea rows="4" [(ngModel)]="topic.description" name="description" class="textarea" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <button mat-raised-button color=primary (click)="editTopic()">Edit Topic</button>
</form>